* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', 'Times New Roman', serif;
    background-color: #fff;
}

.page-container {
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
}

.left-panel {
    background-color: #fff;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.vyshyvka {
    display: block;
    width: 220px;
    height: 820px;
}

.right-panel {
    flex: 1;
    background-color: #fff;
    padding: 40px 60px;
}


.content {
    flex: 1;
    padding: 40px 60px;
    background-color: #fff;
}

header {
    margin-bottom: 60px;
}

.header-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    color: #8b0000;
    /* font-weight: bold; */
}



.motto {
    font-size: 45px;
    color: #333;
    font-weight: bold;
    line-height: 1.6;
}



.navigation {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.navigation a {
    text-decoration: none;
    font-weight: bold;
    color: #8b0000;
    border-bottom: 2px solid transparent;
}

.navigation a:hover {
    border-bottom: 2px solid #8b0000;
}

.buttons {
    display: flex;
    gap: 130px;
    margin-top: 190px;
    justify-content: flex-start;
}

.btn {
    text-decoration: none;
    font-size: 40px;       /* the size of the text */
    font-weight: bold;
    padding: 40px 90px;    /* the size of the background */
    border-radius: 24px;
    display: inline-block;
}

.btn-news {
    border: 2px solid #333;
    color: #000;
}

.btn-add {
    background-color: #8b0000;
    color: #fff;
}
