<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Етносайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page-container">

        <div class="left-panel">
            <img src="{{ url_for('static', filename='css/photos/vyshyvka1 (1).jpg') }}"
                 alt="Вишиванка"
                 class="vyshyvka">
        </div>

        <div class="right-panel">
            <header>
                <h1>ЕТНОСАЙТ</h1>
                <p class="motto">"Червоне — то любов, а чорне — то журба..."</p>
            </header>

            <!-- changing pages -->
            {% block content %}{% endblock %}
        </div>

    </div>
</body>
</html>
